LIBRERIAS

In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('Amigos_De_Las_Mascotas_2022_Data_Set.csv',sep = ';')

C:\Users\GuillemEdoBertran\AppData\Local\Temp\ipykernel_11364\2357575593.py:1: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Amigos_De_Las_Mascotas_2022_Data_Set.csv',sep = ';')

In [36]:
df.sample(5)

,EjercicioPedido,NumeroPedido,Orden,FechaRegistro,FechaPedido,CodigoArticulo,Partida,CodigoFamilia,CodigoSubfamilia,CodigodelCliente,...,PrecioCoste,%Descuento,ImporteCoste,ImporteBruto,ImporteNeto,BaseImponible,TotalIva,ImporteLiquido,TipoArticulo,(No column name)
141011,2022,PVM10016,5,2022-06-21 14:39:43,2022-06-21,AR750804,P,F075,FS075009,C750804,...,"3,8",20,"11,4","16,43","13,14","13,14","1,314","14,454",TPM,U070803
311940,2022,PVMW28090,35,2022-09-19 15:34:37,2022-09-19,AR540029,PR-01,F054,FS054102,C540029,...,"21,39",14,"36,67","47,82","41,13","41,13","4,113","45,243",TPM,U11E01
36061,2022,PBR1677,0,2022-09-25 07:50:47,2022-09-26,AR381105,P0,F038,FS03800780,C381105,...,"9,056545396",12,"9,06","12,6","9,75","9,6525","0,96525","10,61775",TPM,UBE/02/03
237380,2022,PVMW11326,55,2022-04-22,2022-04-22,AR540005,P01120,F054,FS054100,C,...,"6,24",14,"6,24","6,97","5,99","5,99",0,"5,99",TPM,U05D08
421453,2022,PVR3088,0,2022-10-05 19:39:23,2022-10-06,AR930556,P,F093,FS0930000025,C930556,...,"8,14194385",15,"8,14","12,48","10,61","10,5039","1,05039","11,55429",TPM,UA52052

In [37]:
df.value_counts()

EjercicioPedido  NumeroPedido  Orden  FechaRegistro        FechaPedido  CodigoArticulo  Partida       CodigoFamilia  CodigoSubfamilia  CodigodelCliente  CodigoProveedor  FechaCaduca  FechaEntrega  Ubicacion  Estado  %Iva  Precio       PrecioCoste  %Descuento  ImporteCoste  ImporteBruto  ImporteNeto  BaseImponible  TotalIva  ImporteLiquido  TipoArticulo  (No column name)
2022             PBM107        15     2022-03-16 10:30:28  2022-03-16   AR034031        PR-5160       F003           FS003109          C034031           P400124          2026-07-31   2022-03-16    061010     2       10    35,756       31,6229      0           -31,62        -35,76        -35,76       -35,76         -3,576    -39,336         TPM           U061010             1
                 PBRW1459      535    2022-09-20           2022-09-20   AR380082        P22173059RCA  F038           FS03800650        C                 P400002          2023-12-20   2022-09-20    AD/05/01   2       0     17,7         12,9         13          25,8          35,4          30,8         30,8           0         30,8            TPM           UAD/05/01           1
                               600    2022-09-20 17:46:34  2022-09-20   AR381124        P226F1BRK04   F038           FS03800311        C381124           P400002          2024-07-02   2022-09-20    BE/01/03   2       0     13,85        10,09        13          10,09         13,85         12,05        12,05          0         12,05           TPM           UBE/01/03           1
                               590    2022-09-20 17:46:09  2022-09-20   AR381120        P216C2BRK05   F038           FS03800311        C381120           P400002          2024-04-20   2022-09-20    BE/01/03   2       0     13,75        10,02        13          20,04         27,5          23,92        23,92          0         23,92           TPM           UBE/01/03           1
                               585    2022-09-20 17:45:57  2022-09-20   AR381026        P220C1BRK05   F038           FS03800311        C381026           P400002          2024-05-18   2022-09-20    BE/01/03   2       0     13,75        10,02        13          40,08         55            47,85        47,85          0         47,85           TPM           UBE/01/03           1
                                                                                                                                                                                                                                                                                                                                                                                       ..
                 PBR1967       0      2022-11-13 10:08:34  2022-11-14   AR380156        P22228148RCA  F038           FS03800211        C380156           P400002          2024-02-14   2022-11-14    BD/09/02   2       10    20,3         14,63849515  12          14,64         20,3          15,7         15,543         1,5543    17,0973         TPM           UBD/05/02           1
                                      2022-11-13 10:08:35  2022-11-14   AR820101        P2116         F082           FS08200001        C820101           P400630          2023-09-29   2022-11-14    G/03/01    2       10    6,153846154  3,537869033  21          10,61         18,46         14,58        14,4342        1,44342   15,87762        TPM           UG/03/01            1
                                                                        AR820102        P2221         F082           FS08200001        C820102           P400630          2024-01-01   2022-11-14    G/03/01    2       10    6,123076923  3,552537891  21          7,11          12,25         9,68         9,5832         0,95832   10,54152        TPM           UG/03/01            1
                                      2022-11-13 10:08:40  2022-11-14   AR930060        P22141        F093           FS0930000005      C930060           P400669          2023-06-20   2022-11-14    AD/09/01   2       10    33,59        20,91625679  15          41,83         67,18         57,1         56,529         5,6529    62,1819         TPM           UAD/09/01           1
                 PVRW4316      5      2022-05-10           2022-05-10   AR380674        P22050031RCA  F038           FS03800710        C                 P400002          2023-08-19   2022-05-10    0203051    2       10    3,75         2,73         19          5,46          7,5           6,07         6,07           0,607     6,677           TPM           U0203051            1
Name: count, Length: 17477, dtype: int64

Cambiamos todos los objetos a float para analizar correctamente

In [38]:
#df['Precio'].astype(float)

Variable de columnas numericas

In [39]:
numericas = ['Orden','Estado','%Iva','Precio','PrecioCoste','%Descuento','ImporteCoste','ImporteBruto','ImporteNeto','BaseImponible','TotalIva','ImporteLiquido']

ExploraciÃ³n

In [40]:
df['TipoArticulo'].value_counts()

TipoArticulo
TPM    495413
TPI         6
Name: count, dtype: int64

In [41]:
df['CodigoFamilia'].value_counts()

CodigoFamilia
F038    122679
F093     68107
F082     22464
F078     19035
F069     16767
         ...
F998         3
F047         3
F018         2
F031         2
F020         1
Name: count, Length: 83, dtype: int64

In [42]:
columnas_seleccionadas = ['NumeroPedido', 'Orden', 'CodigoArticulo', 'PrecioCoste']

nuevo_df = df[columnas_seleccionadas]

nuevo_df_ordenado = nuevo_df.sort_values(by='PrecioCoste', ascending=False)

nuevo_df_ordenado

       NumeroPedido  Orden CodigoArticulo PrecioCoste
338377    PVMW33831      5       AR100162       99,92
337975    PVMW33744     50       AR100162       99,92
360021    PVMW38564     15       AR100162       99,92
341954    PVMW34623     30       AR100162       99,92
355856    PVMW37649     15       AR100162       99,92
...             ...    ...            ...         ...
61250      PBRW1209   1345            AR7           0
87710      PVAB1513      4            AR5           0
61251      PBRW1209   1350            AR7           0
61252      PBRW1209   1355            AR7           0
11467        PBR512      5            AR7           0

[495419 rows x 4 columns]

In [43]:
df['NumeroPedido'].duplicated().sum()

407462

In [44]:
df.iloc[73339]

EjercicioPedido                    2022
NumeroPedido                     PMM283
Orden                                25
FechaRegistro       2022-05-03 16:39:31
FechaPedido                  2022-05-03
CodigoArticulo                      AR5
Partida                               P
CodigoFamilia                      F000
CodigoSubfamilia                     FS
CodigodelCliente                     C5
CodigoProveedor                 P000000
FechaCaduca                         NaN
FechaEntrega                 2022-05-03
Ubicacion                           NaN
Estado                                2
%Iva                                 21
Precio                         -1,4E-09
PrecioCoste                           0
%Descuento                            0
ImporteCoste                          0
ImporteBruto                          0
ImporteNeto                           0
BaseImponible                         0
TotalIva                              0
ImporteLiquido                        0
TipoArticulo                        TPM
(No column name)                  U0000
Name: 73339, dtype: object